:host {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: none;
  display: none;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.2em;
  background: #f9f9f9;
  box-shadow: 0.2em 0.2em 0.1em rgba(0, 0, 0, 0.25);
  color: #333;
}
:host(:focus) {
  outline: 0;
}
:host([fixed]) {
  display: inline-block;
  position: relative;
}

:host([expanded]) {
  display: inline-block;
}
:host([context]) {
  position: absolute;
}
:host([issubmenu]) {
  position: absolute;
  top: 0;
  left: 100%;
}



:host([horizontal])::shadow > io-menu-option::shadow > io-menu {
  top: 100%;
  left: 0;
}
:host([horizontal])::shadow > io-menu-option {
  display: inline-block;
}
io-menu-option {
  display: block;
  padding: 0.3em;
  border-radius: 0.1em;
}
io-menu-option:focus {
  outline: 0;
}
io-menu-option[expanded] {
  background: #999;
  color: #fff;
}
:host([horizontal])::shadow > hr {
  /* TODO: implement vertical divider */
  display: none;
}
hr {
  border: 0;
  margin: 0.25em 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25); 
}


:host > #search {
  display: block;
}

:host > #search::shadow > .io-bundle-value {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin: 0.25em;
  padding: 0.3em;
  background: white;
}

:host > #search::shadow > .io-bundle-value:empty:after {  
  content: "Search...";
}

:host > #tooltip {
  min-width: 6em;
  max-width: 120em;
  padding: 0.5em; 
  white-space: normal;
}