/****************/
/* menu overlay */
/****************/

io-menu-overlay-layer {
  /*background: transparent;*/
}

/* io-menu.css */
html /deep/ io-menu {
/*  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.2em;
  background: #e9e9e9;
  box-shadow: 0.2em 0.2em 0.1em rgba(0, 0, 0, 0.25);
  color: #333;*/
}

html /deep/ io-menu::shadow > #search::shadow > .io-bundle-value {
/*  display: block;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin: 0.25em;
  padding: 0.3em;
  background: white;*/
}

html /deep/ io-menu::shadow > hr {
/*  border: 0;
  margin: 0.25em 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25);*/
}

/* io-menu-option.css */
html /deep/ io-menu-option {
  /*padding: 0.3em;*/
  /*border-radius: 0.1em;*/
}

html /deep/ io-menu-option[expanded] {
  /*background: #69F;*/
  /*color: #fff;*/
}
html /deep/ io-menu-option[expanded]:focus {
  /*outline: 0;*/
  /*background: #666;*/
  /*color: #fff;*/
}
html /deep/ io-menu-option::shadow > core-icon {}

html /deep/ io-menu::shadow > #tooltip {
  /*min-width: 6em;*/
  /*max-width: 120em;*/
  /*padding: 0.5em; */
  /*white-space: normal;*/
}